
body{
  max-width: 600px;
  margin: 0 auto;
}
.one{
 background-color: #f9c0cb;
 border: 3px solid blue;
 margin: 12px;
 padding: 32px;
}
.two{
 background-color: #ADD8E6;
 border: 3px solid #800080;
 margin-bottom: 48px;

}
.three{
 background-color: #FBDAB9;
 border: 3px solid #A5292A;
 width: 200px;
 margin-left: auto;
 padding: 32px;
}